// Menu-header
.mobyle__button {
  display: flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 20;

  transition: fill var(--animation);

  &:hover .mobyle__menu-cross-icon {
    fill: var(--color-button);
  }
}

.mobyle__icon-cross {
  display: none;
}
.mobyle__button.is-open .mobyle__icon-cross {
  display: block;
}

.mobyle__button.is-open .mobyle__icon-menu {
  display: none;
}

// ______________________________

@include device(mobyle_only) {
  .mobyle__buy-now {
    margin-bottom: 19px;
  }

  .mobyle__menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    z-index: 10;

    // padding: 48px 40px;
    padding-top: 60px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    // align-items: center;

    color: #d41443;

    max-width: 480px;
    width: 100%;
    height: 100vh;

    background-color: #e17992;

    transform: scale(0.4);
    opacity: 0;

    &.is-open {
      display: flex;

      transition: transform 250ms ease-in-out 400ms, opacity 250ms ease-in-out 400ms;

      transform: scale(1);
      opacity: 1;
    }

    flex-direction: column;
  }
}

.mobyle__link {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
}
.mobyle__nav-item {
  padding: 12px 0;
  padding-left: 20px;
  width: 100%;
  border-top: 1px solid #e18298;
  border-bottom: 1px solid #e18298;
}

// .mobyle__nav-item:not(:last-child) {
//   margin-bottom: 32px;
// }

// .mobyle__contact-item:first-child {
//   margin-bottom: 32px;
// }

// .mobyle__contact {
//   margin-top: auto;
//   margin-bottom: 64px;
// }

// .mobyle__link-contact {
//   font-weight: 500;
//   font-size: 34px;
//   line-height: 1.18;

//   letter-spacing: 0.02em;
//   text-decoration: none;

//   color: #2196f3;

//   @media screen and (max-width: 378px) {
//     font-size: 32px;
//     line-height: 1.18;
//   }
//   @media screen and (max-width: 360px) {
//     font-size: 28px;
//     line-height: 1.18;
//   }

//   @media screen and (max-width: 324px) {
//     font-size: 26px;
//     line-height: 1.18;
//   }
// }

// .mobyle__link-contact-email {
//   font-weight: 500;
//   font-size: 24px;
//   line-height: 1.17;
//   letter-spacing: 0.02em;
//   text-decoration: none;

//   color: #757575;
// }

//  _______social

// .mobyle__socials {
//   display: flex;
//   flex-wrap: wrap;
// }

// .mobyle__sociale-item {
//   &:not(:last-child) {
//     padding-right: 10px;
//     border-right: 1px solid rgba(33, 33, 33, 0.2);
//   }

//   &:not(:first-child) {
//     padding-left: 10px;
//   }
// }

// .mobyle__link-sociale {
//   font-weight: 500;
//   font-size: 18px;
//   line-height: 1.22;

//   letter-spacing: 0.02em;
//   text-decoration: none;

//   color: #2196f3;

//   @media screen and (max-width: 442px) {
//     font-size: 16px;
//     line-height: 1.22;
//   }
//   @media screen and (max-width: 408px) {
//     font-size: 14px;
//     line-height: 1.22;
//   }

//   @media screen and (max-width: 376px) {
//     font-size: 12px;
//     line-height: 1.22;
//   }

//   @media screen and (max-width: 342px) {
//     font-size: 10px;
//     line-height: 1.22;
//   }
// }

@include device(tablet_only) {
  .mobyle__button,
  .mobyle__menu {
    display: none;
  }
}

@include device(desktop) {
  .mobyle__button,
  .mobyle__menu {
    display: none;
  }
}
